* {
    font-family: 'Baloo Da 2', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #339;
    color: #ddd;
    line-height: 48px;
}

nav {
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav li {
    padding: 10px 50px;
}

nav a {
    color: #ddd;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #339;
    color: #ddd;
    text-align: center;
    width: 100%;
}

.nav-head {
    background-color: #55a;
    padding: 5px 25px;
    line-height: 48px;
    font-size: 1.75rem;
    font-weight: 300%;
}

.nav-head .begin {
    color: lavender;
}

.nav-head .end {
    color: orange;
}

.top-block {
    height: 50px;
}

.marquee-block {
    display: flex; 
    flex-direction: row; 
    align-items: stretch; 
    font-size: 2rem;
    margin: 25px 25px;
    width: 100%
}

.marquee-left {
    margin: 0 25px;
    text-align: left; 
    width: 33%;
}

.marquee-center {
    margin: 0;
    text-align: center; 
    width: 33%;
}

.marquee-right {
    margin: 0 25px;
    padding: 0 50px;
    text-align: right;
    width: 33%;
}

.question-text {
    font-size: 1rem;
    margin: 20px 25px;
    border: 0 none;
}

.answer-list {
    margin: 10px 40px;
    list-style-position: inside;
}

.answer-item {
    line-height: 2rem;
    cursor: pointer;
}

.answer-item-even {
    /* answers list is zero-based */
    background-color: rgb(200, 200, 180);
}

.answer-item-odd {
    /* answers list is zero-based */
    background-color: rgb(255, 255, 225);
}

.bottom-block {
    font-size: 1rem;
    font-style: italic;
    margin: 20px 25px;
    color: #333;
}

.answer-item:hover {
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: #999;
}

.answer-item:active {
    background-color: #ccc;
    color: #222;
}

.nav-item:hover {
    background-color: #228;
}

.nav-item:active {
    background-color: #55b;
    color: #222;
}

/*          -- HiScore Page --          */

.top-ten {
    list-style: decimal;
    list-style-position: inside;
    font-size: 2rem;
    width: 500px;
    height: 800px;
    margin: 10px 25px;
}

.top-ten-item {
    display: flex; 
    flex-direction: row; 
    align-items: stretch;
    line-height: 2rem;
    margin: 5px 25px;
    width: 100%;
}

.list-item-even {
    /* answers list is zero-based */
    background-color: rgb(200, 200, 180);
}

.list-item-odd {
    /* answers list is zero-based */
    background-color: rgb(255, 255, 225);
}

.top-ten-left {
    margin: 0 25px;
    text-align: left; 
    width: 50%;
}

.top-ten-right {
    margin: 0 25px;
    text-align: right; 
    width: 50%;
}

/*          -- Background Section --    */
/* Motion background from https://wweb.dev/resources/animated-css-background-generator  
        Credit: Louis Hoebregts */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(255, 255, 210);
    overflow: hidden;
    z-index: -2;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

.background span:nth-child(0) {
    color: #ffb5af;
    top: 11%;
    left: 35%;
    animation-duration: 314s;
    animation-delay: -455s;
    transform-origin: -11vw -19vh;
    box-shadow: -40vmin 0 5.128305038155363vmin currentColor;
}

.background span:nth-child(1) {
    color: #ffe5a8;
    top: 51%;
    left: 87%;
    animation-duration: 184s;
    animation-delay: -326s;
    transform-origin: 3vw 14vh;
    box-shadow: -40vmin 0 5.5303274119170713vmin currentColor;
}

.background span:nth-child(2) {
    color: #ffe5a8;
    top: 3%;
    left: 66%;
    animation-duration: 120s;
    animation-delay: -435s;
    transform-origin: -5vw -17vh;
    box-shadow: -40vmin 0 5.821762757523849vmin currentColor;
}

.background span:nth-child(3) {
    color: #e0eed4;
    top: 58%;
    left: 98%;
    animation-duration: 219s;
    animation-delay: -206s;
    transform-origin: 4vw 17vh;
    box-shadow: -40vmin 0 5.16104958843262vmin currentColor;
}

/*          -- Popup Form Section --            */

/* Position the Popup form */
.start-popup .end-popup {
    position: relative;
    text-align: center;
    width: 100%;
    opacity: 85%;
}
.about-popup {
    position: relative;
    text-align: center;
    width: 60%;
    opacity: 100%;
}
/* Hide the Popup form */
.form-popup {
display: none;
position: fixed;
left: 36%;
top: 22%;
transform: translate(-45%,5%);
font-family: 'Baloo Chettan 2', sans-serif;
box-shadow: 5px 7px 3px #666;
z-index: 9;
}
/* Styles for the form container */
.form-container {
max-width: 400px;
min-width: 200px;
padding: 20px;
background-color: #eef;
}
/* input fields */
.form-container input {
width: 60px;
padding: 10px;
margin: 5px;
margin-right: 10px;
border: none;
background: #fff;
}
/* When the inputs get focus, do something */
.form-container input:focus {
background-color: #ddd;
outline: none;
}
/* Style submit/login button */
.form-container .pop-btn {
background-color: #4ad138;
color: #fff;
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
/* Style input box and label */
.form-container .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
}
/* Style input box */
.form-container .input-label {
    text-align: left;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding: 0;
}
/* Style button group */
.form-container .button-container {
    width: 100%;
    margin-top: 15px;
}
/* Hover effects for buttons */
.form-container .pop-btn:hover {
opacity: 1;
}

/*          -- Media Queries --        */
@media(max-width: 690px) {
  * {
    font-size: 1.6vw;
  }

  header {
    line-height: 4.8vw;
  }

  nav li {
    font-size: 2.4vw;
    padding: 1vw 5vw;
  }

  .nav-head {
    padding: 0.5vw 1vw;
    line-height: 3.6vw;
    font-size: 2.4vw;
    font-weight: 300%;
  }
    
  .top-block {
    height: 3vh;
  }

  .marquee-block {
    font-size: 2vw;
    margin: 2vw 1vw;
    width: 100%
  }
  
  .answer-list {
    margin: 1vw 4vw;
  }

  .answer-item {
    line-height: 2vw;
    font-size: 1.6vw;
  }

  .form-popup {
    left: 27vw;
    top: 7vh;
    font-size: 1.6vw;
  }

  .form-container {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 2vw 2vw;
  }

  .background {
    margin: 0;
    padding: 0;
  }

  .form-container .pop-btn {
    font-size: 1.6vw;
    padding: 1.2vw 2vw;
    width: 100%;
    margin-bottom: 1vw;
  }
    
  .form-container input {
    width: 6vw;
    padding: 1vw;
    margin: 0.5vw;
    margin-right: 1vw;
  }
    
  .top-ten {
    font-size: 2vw;
    width: 100%;
    height: 80vh;
    margin: 1vw 0;
  }

  .top-ten-item {
    line-height: 2.8vw;
    margin: 0.5vw 0;
    width: 100%;
  }

}

/* @media(max-width: 500px) {

} */